body {
  font-family: sans-serif;
  background: #501ca3;
  margin: 20px;
}

/* divで囲んだprofile全体 */
.profile {
  background: rgb(63, 38, 95);
  border: 1px solid #a70a0a;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

/* infoセクション */
.info {
  margin-bottom: 20px;
  background: #215da1;
  padding: 10px;
  border-radius: 6px;
}

/* spanで強調する部分 */
.highlight {
  color: #0077cc;
  font-weight: bold;
  background: #0f70ca;
  padding: 2px 4px;
  border-radius: 4px;
}